<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="circleApp" ng-controller="circleCtrl">
    
    <div class="controls">
        
        <div class="control-option">
            <label>Number of circles:</label>
            <input id="total-circles" ng-model="tCircles" ng-change="checkNumber()">
        </div>
        <div class="control-option">
            <label>Circle radius:</label>
            <input id="circle-radius" ng-model="cRadius" ng-change="checkNumber()">
        </div>
        <div class="control-option">
            <label>Circle padding:</label>
            <input id="circle-padding" ng-model="cPadding" ng-change="checkNumber()">
        </div>
        <div class="control-option">
            <label>Circles per row:</label>
            <input id="row-length" ng-model="maxRowLength" ng-change="checkNumber()">
        </div>
        <div class="control-option">
            <input id="regen-circles" type="button" value="Regenerate Circles" ng-click="loadCircles()" ng-disabled="inputError">
        </div>
    </div>
    
    <circle-canvas></circle-canvas>
    
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/d3/d3.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>